* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.call-info {
    background-color: #2e0000;
}

.separate {
    color: #8b7c7c82;
}

.hero-section {
    background-image: url(./img/h1_hero.jpg);
    min-height: 100vh;
    background-size: cover;
}